<form>

	<input type="file" id="upload-file"></input>
	<button type ="button" data-update-file>upload file</button>

	<table>
	<thead></thead>
	{{#each []}}
	<tr data-id="{{_id}}">
	<td>{{name}}</td>
	<td>{{sizeinBytes}}</td>
	<td>{{uploaded}}</td>
	<td>{{description}}</td>
	<td><button type="button" data-edit-file-data>Edit File</button></td>
	<td><button type="button" data-delete-file>Delete File</button></td>
	</tr>
	{{/each}}
	</table>
</form>
